<h1>Lists</h1>

<%= link_to "New List", new_list_path %>

<table class="list table">
  <thead>
    <th>タイトル</th>
    <th>本文</th>
  </thead>
  <% @lists.each do |list| %>
    <tbody>
      <td><%= link_to list.title, "lists/#{list.id}" %></td>
      <td><%= list.body %></td>
    </tbody>
  <% end %>
</table>